doctype html
html
    head
        title links
    body


    for link in links
        a(href = '#{link}') #{link}
        br

    br
    //br
    //p #{imgs[0]}
    //br
    //for img in imgs
    //    img(src = '#{img}')
